# Dependency (File library yang berat, nanti di-install ulang pakai npm install)
node_modules/

# Environment Variables (Rahasianya ada di sini!)
.env

# Moodle backup & database dumps (jangan di-push)
*.mbz
*.sql